* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
}

.images  {
  background-color: #6c373f;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 200px;
  display: block;
  margin-bottom: 3%;
}

#img_1 {
  
}

#img_2 {
}

#img_3 {
}
