* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.images  {
  background-color: #6c373f;
  width: 100%;
  overflow: auto;
  display: grid;
  place-items: center;
  grid-template-areas:
    "a1 . ."
    ". a2 ."
    ". . a3";
}

img {
  width: 200px;
  display: block;
  margin-bottom: 3%;
}

#img_1 {
  grid-area: a1;
}

#img_2 {
  grid-area: a2;
}

#img_3 {
  grid-area: a3;
}
